<!DOCTYPE html>
<html lang="">
  <head>
    <meta
      name="description"
      content="Jual kambing terbaik untuk acara aqiqah, qurban di Palembang, Sumatera Selatan"
    />
    <meta
      name="keywords"
      content="kambing, qurban, aqiqah, palembang, kambing qurban, kambing aqiqah, kambing palembang, qurban aqiqah, qurban palembang, aqiqah palembang, kambing qurban aqiqah, kambing qurban palembang, qurban aqiqah palembang, kambing qurban aqiqah palembang"
    />
    <meta
      name="og:title"
      content="Jual Kambing Terbaik untuk Acara Aqiqah Qurban di Palembang"
    />
    <meta
      name="og:description"
      content="Kami menyediakan kambing terbaik yang cocok untuk Qurban maupun Aqiqah dengan kualitas terbaik untuk daerah Palembang, Sumatera Selatan."
    />
    <meta name="og:image" content="https://i.ibb.co/tHzQbzr/logo.png" />
    <meta name="og:url" content="https://hhaq.netlify.app`" />
    <!-- <meta name="robots" content="noindex" /> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <!-- ? Bootstrap 5 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- ? End Bootstrap 5 CSS -->
    <!-- ? Font Awesome Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <!-- ? End Font Awesome Icon -->
    <!-- ? Mapbox GL CSS -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <!-- ? End Mapbox GL CSS -->
    <title>HHAQ - Jual Kambing Terbaik di Palembang</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- ? Bootstrap 5 Js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-M1S0K9MR48"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-M1S0K9MR48");
    </script>
    Î
    <!-- ? End Bootstrap 5 Js -->
  </body>
</html>
