<template>
  <main>
    <div id="fixed-button-section">
      <div
        v-for="bms in this.$store.state.mediaSosial"
        :key="bms.id"
        :class="`fixed-${bms.name} heartbeat`"
      >
        <a
          :href="`${bms.url}${bms.username}`"
          target="__blank"
          rel="noopener noreferrer"
          :class="`btn-${bms.name}`"
        >
          <img :src="`data:image/png;base64,${bms.image}`" :alt="`hhaq media sosial ${bms.name}`"/>
        </a>
      </div>
    </div>
    <Navbar />
    <Landing />
    <Tentang-Kami />
    <Produk />
    <Testimoni :data="this.$store.state.testimoni" />
    <Footer />
  </main>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";
import Landing from "@/components/Landing";
import TentangKami from "@/components/Tentang-Kami";
import Produk from "@/components/Produk";
import Testimoni from "@/components/Testimoni";

export default {
  name: "Home",
  components: {
    Navbar,
    "Tentang-Kami": TentangKami,
    Landing,
    Produk,
    Testimoni,
    Footer,
  },
  created() {
    this.$store.dispatch("fetchMediaSosial");
    this.$store.dispatch("fetchTestimoni");
  },
};
</script>
