<template>
  <section>
    <div class="bg-dark text-secondary px-4 py-3 text-center" id="hubungi-kami">
      <div class="py-5">
        <h2 class="text-white mb-5">Hubungi Kami</h2>
        <h3 class="text-white">Google Maps</h3>
        <div class="lokasi-google heartbeat">
          <a
            href="https://goo.gl/maps/p9Zf9aYHv8q7Ez21A"
            target="__blank"
            rel="noopener noreferrer"
            class="text-white"
          >
            <img src="../assets/google-maps.png" alt="google maps logo" />
          </a>
        </div>
        <div class="col-lg-6 col-md-6 mx-auto mb-3">
          <p class="text-light">
            <b>Alamat</b>: Lorong Melati, Suka Bangun, Sukarami, Palembang City,
            South Sumatra 30961
          </p>
        </div>
        <div class="col-lg-6 col-md-6 mx-auto mb-5">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import mapboxgl from "mapbox-gl";

export default {
  name: "Footer",
  methods: {
    async loadMap() {
      mapboxgl.accessToken =
        "pk.eyJ1IjoiZnVlcmVtaSIsImEiOiJja213enRyNG8wMXQ4MnJ0M3U2OHluNW95In0.zqjbe3Jt0vvb5vkbz-y8IA";
      const storeLocation = [104.73827996749125, -2.9361865328077195];

      const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v11", // style URL
        center: storeLocation,
        zoom: 17,
        antialias: true,
      });

      var marker1 = new mapboxgl.Marker().setLngLat(storeLocation).addTo(map);
    },
  },
  async mounted() {
    await this.loadMap();
  },
};
</script>

<style scoped>
#map {
  height: 250px;
}

.lokasi-google {
  z-index: 10;
  background: rgba(250, 249, 247, 0.8);
  height: 100px;
  width: 100px;
  border: 0;
  border-radius: 100%;
  box-shadow: 3px 3px rgba(10, 10, 10, 0.3);
  margin: 1rem auto 2rem;
}

.lokasi-google a,
.lokasi-google img {
  padding: 10px;
  width: 80%;
  height: 100%;
  margin: auto;
  text-decoration: none;
}
</style>
