<template>
  <!-- ? Produk Section -->
  <section id="produk">
    <div class="showcase">
      <h2>Produk</h2>
      <div
        class="paket"
        v-for="paket in this.$store.state.paket"
        :key="paket.id"
      >
        <h3 class="text-capitalize">Paket {{ paket.name }}</h3>
        <div class="galeri">
          <h4>Galeri</h4>
          <p>
            Liat dulu yuk gambarnya! Biar kamu tau gimana bagusnya
            <strong>Hendra Herman Aqiqah & Qurban</strong>.
          </p>
          <div class="row text-center align-items-center gy-2 mb-3">
            <div
              :id="`${paket.name}-carousel`"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner active">
                <div
                  class="carousel-item"
                  :class="{ active: index === 0 }"
                  v-for="(produk_galeri, index) in paket.relasi_galeri"
                  :key="index"
                >
                  <img
                    :src="`data:image/png;base64,${produk_galeri.gambar}`"
                    class="d-block w-100"
                    :alt="`galeri ${produk_galeri.name} ${index}`"
                  />
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  :data-bs-target="`#${paket.name}-carousel`"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  :data-bs-target="`#${paket.name}-carousel`"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="daftar-harga">
          <h4>Daftar Harga</h4>
          <p>
            Liat dulu yuk daftar harganya! Biar kamu tau gimana murahnya
            <strong>Hendra Herman Aqiqah & Qurban</strong>.
          </p>
          <div class="row gy-3 paket-qurban">
            <div
              class="col-xs-12 col-md-6 col-lg-4"
              v-for="(produk_harga, index) in paket.relasi_daftar_harga"
              :key="index"
            >
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">
                    {{ produk_harga.nama }}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <strong>
                      {{
                        produk_harga.harga.toLocaleString("id", {
                          style: "currency",
                          currency: "IDR",
                          minminimumFractionDigits: 0, 
                          maximumFractionDigits: 0
                        })
                      }}</strong
                    >
                  </h6>
                  <p class="card-text">
                    <strong>{{ produk_harga.highlight }}</strong
                    ><br />
                    {{ produk_harga.deskripsi }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mengapa-memilih-kami">
        <h3>Mengapa Memilih Kami ?</h3>
        <div class="items">
          <div class="item">
            <i class="fas fa-handshake fa-2x"></i>
            <p class="title-item">Terpercaya</p>
            <p class="title-desc">
              Sudah beroperasi selama 25 tahun dengan 500+ pelanggan/tahun
            </p>
          </div>
          <div class="item">
            <i class="fas fa-truck fa-2x"></i>
            <p class="title-item">Gratis Ongkir</p>
            <p class="title-desc">
              Bisa diantar ke tempat langsung, khusus nya wilayah kota palembang
              dan sekitarnya
            </p>
          </div>
          <div class="item">
            <i class="fas fa-thumbs-up fa-2x"></i>
            <p class="title-item">Berkualitas</p>
            <p class="title-desc">
              Kambing qurban yang kami jual hanyalah yang sehat dan berkualitas
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ? End Produk Section -->
</template>

<script>
export default {
  name: "Produk",
  async created() {
    await this.$store.dispatch("fetchPaket");
  },
};
</script>

<style></style>
