<template>
  <!-- ? Tentang Kami Section -->
  <section id="tentang-kami">
    <div class="content">
      <h2>Tentang Kami</h2>
      <div class="showcase">
        <div class="section-text">
          <h3 class="text-center">"The Best Goat Seller in Palembang City"</h3>
          <p class="lead">
            Sudah menjadi kepercayaan konsumen
            <strong>sejak tahun 1996</strong>, berlokasi di Sumatera Selatan
            tepatnya di <strong>Palembang, Kec. Sukarami Kel.Sukajaya</strong>.
            Memiliki kambing dengan kualitas yang baik dirawat dengan
            <i class="fas fa-heart"></i> oleh tenaga professional.
          </p>
        </div>
        <div class="section-image">
          <img src="../assets/logo.png" alt="hendra herman aqiqah & qurban logo" />
        </div>
      </div>
    </div>
  </section>
  <!-- ? End Tentang Kami Section -->
</template>

<script>
export default {
  name: "Tentang-Kami",
};
</script>

<style></style>
