<template>
  <section class="admin-home">
    <h1>Halaman Admin</h1>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" @click="logout">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
    <img src="../../assets/logo.png" alt="hendra herman aqiqah & qurban logo" />
    <div class="menu mt-5">
      <router-link
        class="btn btn-primary text-capitalize"
        v-for="(menu, index) in menu"
        :key="index"
        :to="`/admin/${menu.id}`"
      >
        {{ menu.name }}
      </router-link>
    </div>
  </section>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "AdminHome",
  data() {
    return {
      menu: [
        {
          id: "produk",
          name: "produk",
        },
        { id: "mediaSosial", name: "media sosial" },
        {
          id: "testimoni",
          name: "testimoni",
        },
      ],
    };
  },
  methods: {
    logout() {
      Swal.fire({
        title: "Yakin mau logout?",
        showDenyButton: true,
        confirmButtonText: `Ya`,
        denyButtonText: `Tidak`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          this.$store.state.session.message = "";
          this.$store.state.session.status = "";
          Swal.fire("Logout", "Redirecting kamu ke halaman login", "success");
          this.$router.push('/admin/login')
        } else if (result.isDenied) {
          Swal.fire("Oke", "", "info");
        }
      });
    },
  },
  created() {
    if (!this.$store.state.session.status) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Kamu harus login dahulu",
      });
      this.$router.push("/admin/login");
    }
  },
};
</script>

<style scoped>
.admin-home {
  margin: 0 auto 2rem;
  padding: 2rem;
  width: 90%;
}

.admin-home h1 {
  text-align: center;
}

.admin-home img {
  width: 100%;
  padding: 1rem 1rem 0;
}

.menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
  width: 90%;
  margin: 0 auto;
  font-family: "Fredoka One", cursive;
}

.menu .btn-primary:nth-child(odd) {
  background: #cba25e;
  border: 0;
}

.menu .btn-primary:nth-child(even) {
  background: #637d11;
  border: 0;
}

.d-grid {
  width: 90%;
  margin: 0 auto;
}

.d-grid button {
  background: #637d11;
  border: none;
}
</style>
