<template>
  <section class="ftco-section">
    <div class="login-wrap">
      <h3 class="text-center mb-4">Sign In</h3>
      <img src="../../assets/logo.png" alt="hendra herman aqiqah & qurban logo" />
      <form class="login-form" @submit.prevent="signInAction">
        <div class="form-group">
          <input
            type="text"
            class="form-control rounded-left"
            placeholder="Username"
            v-model="username"
            required
          />
        </div>
        <div class="form-group d-flex">
          <input
            type="password"
            class="form-control rounded-left"
            placeholder="Password"
            v-model="password"
            required
          />
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="form-control btn btn-primary rounded submit px-3"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </section>
</template>

<script scoped>
import Swal from "sweetalert2";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async signInAction() {
      const params = { username: this.username, password: this.password };
      await this.$store.dispatch("loginProcess", params);

      if (await this.$store.state.session.status) {
        Swal.fire({
          icon: "success",
          title: 'Berhasil Login.',
          text: this.$store.state.session.message,
        });
        this.$router.push('/admin')
      } else {
        Swal.fire({
          icon: "error",
          title: 'Oops...',
          text: this.$store.state.session.message,
        });
      }

      this.username = "";
      this.password = "";
    },
  },
  created(){
    if (this.$store.state.session.status) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Kamu sudah login",
      });
      this.$router.push("/admin/");
    }
  }
};
</script>

<style scoped>
.ftco-section {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-wrap {
  position: relative;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  padding: 3rem;
}

.login-wrap img {
  width: 100%;
  padding: 1rem 1rem 2rem;
  margin: 0 auto;
}

.login-wrap h3 {
  font-weight: 300;
}
.login-wrap .icon {
  width: 80px;
  height: 80px;
  background: #1089ff;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.login-wrap .icon span {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #82a116;
}

.btn {
  cursor: pointer;
  border-radius: 40px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #82a116 !important;
  border: 1px solid #82a116 !important;
  color: #fff !important;
}
.btn.btn-primary:hover {
  border: 1px solid #1089ff;
  background: transparent;
  color: #1089ff;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #1089ff;
  background: transparent;
  color: #1089ff;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #1089ff;
  color: #fff;
}


@media (min-width: 568px) {
  .ftco-section {
    width: 70%;
  }
}

@media (min-width: 1128px) {
  .ftco-section {
    width: 30%;
  }
}

</style>
