<template>
  <section class="admin-media-sosial">
    <h1>Halaman Admin</h1>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" @click="logout">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
    <img src="../../assets/logo.png" alt="hendra herman aqiqah & qurban logo" />

    <h2>Master Media Sosial</h2>

    <router-link to="/admin/" class="btn btn-primary btn-kembali">
      <i class="fas fa-arrow-left"></i>
      Kembali
    </router-link>

    <button class="add-media-sosial heartbeat">
      <i class="fas fa-plus"></i>
    </button>
    <ul
      class="list-group"
      v-for="ms in this.$store.state.mediaSosial"
      :key="ms.id"
    >
      <li class="list-group-item">
        <div class="media-sosial-item">
          <img
            :src="`data:image/png;base64,${ms.image}`"
            class="media-sosial-image"
          />
          <p class="media-sosial-name">{{ ms.name }}</p>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              :id="`switch-${ms.name}`"
              checked
            />
          </div>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "mediaSosial",
  methods: {
    logout() {
      Swal.fire({
        title: "Yakin mau logout?",
        showDenyButton: true,
        confirmButtonText: `Ya`,
        denyButtonText: `Tidak`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          this.$store.state.session.message = "";
          this.$store.state.session.status = "";
          Swal.fire("Logout", "Redirecting kamu ke halaman login", "success");
          this.$router.push('/admin/login')
        } else if (result.isDenied) {
          Swal.fire("Oke", "", "info");
        }
      });
    },
  },
  async created() {
    if (!this.$store.state.session.status) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Kamu harus login dahulu",
      });
      this.$router.push("/admin/login");
    }

    this.$store.dispatch("fetchMediaSosial");
  },
};
</script>

<style scoped>
.admin-media-sosial {
  margin: 0 auto 2rem;
  padding: 2rem;
  width: 90%;
}

.media-sosial-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.admin-media-sosial h1 {
  text-align: center;
}

.admin-media-sosial img {
  width: 100%;
  padding: 1rem 1rem 0;
}

.admin-media-sosial h2 {
  text-align: center;
  margin: 2rem 0;
  color: #82a116;
}

img.media-sosial-image {
  width: 40%;
  margin: auto;
  padding: 0;
}

.media-sosial-name {
  text-transform: capitalize;
  margin: 0;
}

.add-media-sosial {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: white;
  background: #82a116;
  border: 0;
  z-index: 10;
}

.btn-kembali {
  margin: 0 0 1rem;
  background: #cba25e;
  border: 0;
}

.d-grid {
  width: 90%;
  margin: 0 auto;
}

.d-grid button {
  background: #637d11;
  border: none;
}
</style>
