<template>
  <section class="admin-testimoni">
    <h1>Halaman Admin</h1>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" @click="logout">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
    <img src="../../assets/logo.png" alt="hendra herman aqiqah & qurban logo" />

    <h2>Master Testimoni</h2>

    <router-link to="/admin/" class="btn btn-primary btn-kembali">
      <i class="fas fa-arrow-left"></i>
      Kembali
    </router-link>

    <button class="add-testimoni">
      <i class="fas fa-plus"></i>
    </button>
    <ul class="list-group" v-for="t in this.$store.state.testimoni" :key="t.id">
      <li class="list-group-item">
        <div class="testimoni-item">
          <img
            :src="`data:image/png;base64,${t.image}`"
            class="testimoni-image"
            :alt="`hhaq pelanggan ${t.name}`"
          />
          <p class="testimoni-name">{{ t.name }}</p>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              :id="`switch-${t.name}`"
              checked
            />
          </div>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "Testimoni",
  methods: {
    logout() {
      Swal.fire({
        title: "Yakin mau logout?",
        showDenyButton: true,
        confirmButtonText: `Ya`,
        denyButtonText: `Tidak`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          this.$store.state.session.message = "";
          this.$store.state.session.status = "";
          Swal.fire("Logout", "Redirecting kamu ke halaman login", "success");
          this.$router.push('/admin/login')
        } else if (result.isDenied) {
          Swal.fire("Oke", "", "info");
        }
      });
    },
  },
  async created() {
    if (!this.$store.state.session.status) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Kamu harus login dahulu",
      });
      this.$router.push("/admin/login");
    }

    this.$store.dispatch("fetchTestimoni");
  },
};
</script>

<style scoped>
.admin-testimoni {
  margin: 0 auto 2rem;
  padding: 2rem;
  width: 90%;
}

.testimoni-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-gap: 0.25rem;
}

.admin-testimoni h1 {
  text-align: center;
}

.admin-testimoni img {
  width: 100%;
  padding: 1rem 1rem 0;
}

.admin-testimoni h2 {
  text-align: center;
  margin: 2rem 0;
  color: #82a116;
}

img.testimoni-image {
  width: 60%;
  margin: auto;
  padding: 0;
  border-radius: 50%;
}

.testimoni-name {
  text-transform: capitalize;
  margin: 0;
  line-height: 1;
}

.add-testimoni {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: white;
  background: #82a116;
  border: 0;
  z-index: 10;
}

.btn-kembali {
  margin: 0 0 1rem;
  background: #cba25e;
  border: 0;
}

.d-grid {
  width: 90%;
  margin: 0 auto;
}

.d-grid button {
  background: #637d11;
  border: none;
}
</style>
